<!DOCTYPE html>
<html>

	<head>
	</head>

	<body font-family="Arial">
			<div class="jumbotron text-center">
		        <div class="container">
		          <h1 class="display-3">Gossip Project</h1>
		          <% if current_user%>
		          	<h2>Bienvenue <%= current_user.first_name %> !</h2>
		          <%end%>
		          <p>Listes des évenement</p>
		        </div>
		      </div>
			<div class = "container mx-auto">
				<div class="row justify-content-center shadow">
				<% @event.each do |t| %>
						 <div class="col-sm-6 pt-2">
						   <div class="card text-center mx-auto">
						   	<h5 class="card-header"> Auteur : <%= @user.find(t.administrator_id).first_name%></h5>
						     <div class="card-body">
						       <p class="card-text">Nom évenement :<%= t.title %></p>
						       <p class="card-text">Description: <%= t.description %> min</p>
						       <a class="btn btn-primary" href="<%= event_path(t.id)%>">Info</a>
						       <% if compare(t.administrator_id, current_user.id)%>
							       	<%=link_to("Supprimez", delete_event_path(t.id), method: :delete, data: { confirm: "Etes vous sure ?"}, class: 'btn btn-danger')%>
						       	<%end%>
						     </div>
						   </div>
						</div>
					<% end %>
				</div>
			
	</body>

</html>
