<!DOCTYPE html>
<html>
<head>
</head>
    <% if flash[:sucess]%>
	    <div class="alert alert-success" role="alert">
	  		Evénement créé
		</div>
    <%end%>
	<body>	
		<div class="row justify-content-center">
			<div class="col-sm-6 pt-2">
				<div class="card">
					<h5 class="card-header text-center"><strong><%=@event.title%></strong></h5>
					<%if @event.avatar.attached?%>
  						<%= image_tag @event.avatar, alt: 'avatar', class:"card-img-top" %>
					<%end%>
					<div class="card-body">
						<p class="card-text">Date : <%=@event.start_date%></p>
						<p class="card-text">Durée : <%=@event.duration%> min </p>
						<p class="card-text">Date de fin : <%=@event.start_date + @event.duration * 60%></p>
						<p class="card-text">Location : <%=@event.location%></p>
						<p class="card-text">Price : <%=@event.price%>€</p>
						<p class="card-text">Description : <%=@event.description%></p>
						<p class="card-text">Nombre de participant : <%=@attendances.where(event_id:@event.id).count%> </p>
						<% if user_signed_in? && !compare(@event.administrator_id, current_user.id) && @attendances.find_by(user:current_user.id,event: @event.id) == nil%>
						    <a class="btn btn-success" href="<%= new_charge_path(@event.id)%>">Inscription à l'évennement</a>
						<%end%>
						<% if user_signed_in? && compare(@event.administrator_id, current_user.id)%>
						    <a class="btn btn-secondary" href="">Mon espace événement</a>
						<%end%>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>