

<%= form_for(resource, as: resource_name, url: session_path(resource_name), html:{class:'text-center border border-light p-5'}) do |f| %>
  <p class="h4 mb-4">Connexion</p>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'form-control mb-4' %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password", class:'form-control mb-4' %>
  </div>

  <% if devise_mapping.rememberable? %>
  <div class="d-flex justify-content-around">
    <div class = "custom-control custom-checkbox">
      <div class="field custom-control-inpu">
        <%= f.check_box :remember_me, class:'custom-control-input' %>
        <%= f.label :remember_me, class:'custom-control-label' %>
      </div>
    </div>
  </div>
  <% end %>
  <div class="actions">
    <%= f.submit "Log in",class:"btn btn-info btn-block my-4" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
